<div class="container mt-1">
  <h3>Users</h3>

  <div *ngIf="loading" class="spinner-grow spinner-border-sm text-primary">
    <span class="sr-only">Loading ...</span>
  </div>

  <div *ngIf="users">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Full Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Date Of Birth</th>
          <th scope="col">Role</th>
          <th scope="col">#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td scope="row">{{user.fullName}}</td>
          <td>{{user.emailAddress}}</td>
          <td>{{user.dateOfBirth | date:"mediumDate"}}</td>
          <td>{{user.role}}</td>
          <td>
            <input type="button" class="btn btn-success btn-sm" value="Edit" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
