<nav class="navbar navbar-expand navbar-blue justify-content-between" *ngIf="userAuthorized">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">My Games</a>
    <a class="nav-item nav-link" routerLink="/account">Account</a>
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link nav-link-black" routerLink="/account" *ngIf="currentUser">
      Welcome, {{currentUser.fullName}}!
    </a>
    <a class="nav-item nav-link mr-md-2 mr-2" (click)="logout()" href="/">Logout</a>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
